.store-header
	padding-top 30px
	
	&__title
		font-style 24px
		text-align center
		font-family "Lato-Black", Arial, Tahoma, sans-serif
		margin-top 18px
	
	&__close
	&__cart
		color #111
		transition: color .3s;

		&:hover 
			color: #337ab7
			text-decoration: none
	
	&__icon 
		display: inline-block
		background-image: url('../images/sprite.png')
		background-repeat: no-repeat
		position: relative

	&__close

		&--icon 
			background-position: 0 0
			width: 7px
			height: 13px
			margin-right: 12px
			top: 2px


	&__cart 
		text-align: right
		display: block

		&--icon 
			background-position: 0 -17px
			width: 23px
			height: 21px
			top: 3px
			margin-right: 6px
		
	



// .store-header {
// 	padding-top: 30px;

// 	&__title {
// 		font-size: 24px;
// 		text-align: center;
// 		font-family: "Lato-Black", Arial, Tahoma, sans-serif;
// 		margin-top: 18px;
// 	}

// 	&__back,
// 	&__cart {
// 		color: #111;

// 		transition: color .3s;

// 		&:hover {
// 			color: #337ab7;
// 			text-decoration: none;
// 		}
// 	}

// 	&__icon {
// 		display: inline-block;
// 		background-image: url('../images/sprite.png');
// 		background-repeat: no-repeat;
// 		position: relative;
// 	}

// 	&__back {

// 		&--icon {
// 			background-position: 0 0;
// 			width: 7px;
// 			height: 13px;
// 			margin-right: 12px;
// 			top: 2px;
// 		}
// 	}

// 	&__cart {
// 		text-align: right;
// 		display: block;

// 		&--icon {
// 			background-position: 0 -17px;
// 			width: 23px;
// 			height: 21px;
// 			top: 3px;
// 			margin-right: 6px;
// 		}
// 	}
// }